# DATA CLEANING

For this week I will be cleaning up the data that I received from various souses. The good this is that majority of the data for schools are very clean to begin with. This means that my data cleaning can be kept to a minimum.

The data sets I will be using are as follows:

    IRS's Income by zipcode 
    Graduation rates by school
    School Zip Code

The school's Zip Code file did not come in a CSV and to import it to a CSV I took to excel and created a CSV version of the excel file.

In [15]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

# HERE I IMPORTED DATA FROM NYSTATE DATA FOR
# GRADUATION RATES BY SCHOOL (NEED TO FIND A WAY TO ASSIGN ZIP CODE TO THEM)
grad2016 = pd.read_csv('SCHOOL_DATA/GRAD_RATE_AND_OUTCOMES_2016.csv', error_bad_lines = False)
grad2015 = pd.read_csv('SCHOOL_DATA/GRAD_RATE_AND_OUTCOMES_2015.csv' , error_bad_lines = False)

schoolZip = pd.read_csv('ny.csv', error_bad_lines = False)

/home/mango/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The function of schoolZip is to give the school district their own zip code. We will perform a join using District name as key. The issue is not all names are a 1 to 1 match. Some names have a slight variance. The frequency of these variances is low enough for me to manually change the name of the original data set to fix these abnormalities.

In [16]:
#FROM THE IRS I WAS ABLE TO FIND INCOME BY ZIP CODE TO HELP UNDESTAND EACH AREAS INCOME

incomeByZip16 = pd.read_csv('INCOME_DATA/16zpallnoagi.csv')
incomeByZip15 = pd.read_csv('INCOME_DATA/15zpallnoagi.csv')

In [17]:
incomeByZip16.head()

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,0,2016530,825680,748830,402320,1140180,4065690,...,1458270,14219765,23560,40254,28280,89091,358370,1683323,1583690,4690385
1,1,AL,35004,0,5210,2150,2140,830,2470,10510,...,4140,28671,0,0,30,20,930,3022,4130,11001
2,1,AL,35005,0,3100,1340,890,830,1740,6020,...,2180,9262,0,0,0,0,430,860,2600,7364
3,1,AL,35006,0,1200,430,600,170,790,2560,...,910,4982,0,0,0,0,180,315,1010,2873
4,1,AL,35007,0,11940,4770,5140,1750,5450,24950,...,9340,75822,90,79,90,83,2590,9648,8950,23317

In [18]:
grad2015.head()

,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,LEA_BEDS,LEA_NAME,NRC_CODE,NRC_DESC,COUNTY_CODE,...,REG_ADV_CNT,REG_ADV_PCT,NON_DIPLOMA_CREDENTIAL_CNT,NON_DIPLOMA_CREDENTIAL_PCT,STILL_ENR_CNT,STILL_ENR_PCT,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT
0,2014-15,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,67250,31%,3339,2%,7304,3%,2001,1%,24284,11%
1,2014-15,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,36471,34%,1186,1%,3020,3%,769,1%,10329,10%
2,2014-15,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,30779,28%,2153,2%,4284,4%,1232,1%,13955,13%
3,2014-15,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,182,17%,27,2%,40,4%,25,2%,231,21%
4,2014-15,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,3932,10%,900,2%,2394,6%,476,1%,7080,17%

Above this cell one can see that the data contains different aggregated values from statewide, district, individual school, county, etc... This means a lot of information is present within the data set. The only thing is I only require 1 aggregation type and that is the district aggregation. So below I took it upon myself to retrieve the aggregation type "District" from the data frame.

In [19]:
grad2015 = grad2015.loc[grad2015['AGGREGATION_TYPE'] == 'District']
grad2015.head()

,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,LEA_BEDS,LEA_NAME,NRC_CODE,NRC_DESC,COUNTY_CODE,...,REG_ADV_CNT,REG_ADV_PCT,NON_DIPLOMA_CREDENTIAL_CNT,NON_DIPLOMA_CREDENTIAL_PCT,STILL_ENR_CNT,STILL_ENR_PCT,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT
639,2014-15,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,80,12%,20,3%,30,5%,6,1%,180,28%
640,2014-15,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,38,12%,9,3%,12,4%,0,0%,79,26%
641,2014-15,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,42,12%,11,3%,18,5%,6,2%,101,30%
642,2014-15,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,-,-,-,-,-,-,-,-,-,-
643,2014-15,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,12,3%,16,5%,15,4%,6,2%,111,32%

In [20]:
grad2016 = grad2016.loc[grad2016['AGGREGATION_TYPE'] == 'District']
grad2016.head()

,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,ENTITY_INACTIVE_DATE,LEA_BEDS,LEA_NAME,NRC_CODE,NRC_DESC,...,REG_ADV_CNT,REG_ADV_PCT,NON_DIPLOMA_CREDENTIAL_CNT,NON_DIPLOMA_CREDENTIAL_PCT,STILL_ENR_CNT,STILL_ENR_PCT,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT
4493,2015-16,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,Urban-Suburban High Needs,...,64,11%,9,2%,36,6%,3,1%,190,32%
4494,2015-16,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,Urban-Suburban High Needs,...,35,12%,4,1%,26,9%,0,0%,90,30%
4495,2015-16,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,Urban-Suburban High Needs,...,29,10%,5,2%,10,4%,3,1%,100,36%
4496,2015-16,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,Urban-Suburban High Needs,...,-,-,-,-,-,-,-,-,-,-
4497,2015-16,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,Urban-Suburban High Needs,...,11,3%,7,2%,26,8%,3,1%,120,38%

The data I received from the IRS contains not only the data from new york but the data of all of United States. Naturally, I took out the NY rows and replaced the unwanted data from other states.

In [21]:
# df.loc[df['column_name'] == some_value]
incomeByZip16 = incomeByZip16.loc[incomeByZip16['STATE']== "NY"]
incomeByZip15 = incomeByZip15.loc[incomeByZip15['STATE']== "NY"]

In [22]:
schoolZip.head()

,NCES LEA ID,State ID,District Name,Mailing Address,City,State,Zip Code,Zip +4,Telephone,Locale codes of schools in the LEA,...,FY 2011 Title V allocation amount - PLEASE LEAVE BLANK,SRSA rural eligible,SRSA Small Eligible,SRSA Rural Eligible,SRSA Small Check,SRSA eligible,RLIS rural eligible,RLIS pov. Eligible,Initial RLIS eligible,RLIS eligible
0,3602300,6.604130e+11,ABBOTT UNION FREE SCHOOL DISTRICT,100 N BROADWAY,IRVINGTON,NY,10533,1254.0,9.145917e+09,3,...,NaN,0,1,0,0,-,0,0,0,-
1,3601001,3.207009e+11,ACADEMIC LEADERSHIP CHARTER SCHOOL,677 E 141ST ST,BRONX,NY,10454,NaN,7.185854e+09,1,...,NaN,0,1,0,0,-,0,0,0,-
2,3600997,2.802019e+11,ACADEMY CHARTER SCHOOL,94 FULTON AVE,HEMPSTEAD,NY,11550,NaN,5.164082e+09,3,...,NaN,0,1,0,0,-,0,0,0,-
3,3600129,1.010086e+10,ACHIEVEMENT ACADEMY CHARTER SCHOOL,42 S DOVE ST,ALBANY,NY,12202,NaN,5.185332e+09,2,...,NaN,0,1,0,0,-,0,0,0,-
4,3601028,3.316009e+11,ACHIEVEMENT FIRST APOLLO CHARTER SCHOOL,350 LINWOOD ST,BROOKLYN,NY,11208,NaN,7.182353e+09,1,...,NaN,0,1,0,0,-,0,0,0,-

There are a lot of columns in these data sets. Many of which are not helpful at the time being, especially for my purposes. That being said I took it upon myself to create new data frames but this time with only the data that I foresee myself using. However, if in the future I require more columns, I can easily insert them right here.

In [23]:
cincomeByZip16  = pd.DataFrame({
    "Zip Code": incomeByZip16["ZIPCODE"],
    "Dependents" : incomeByZip16["NUMDEP"],
    "Adjust Gross Income" : incomeByZip16["A00100"],
    "Salaries and Wage" : incomeByZip16["A00200"]
})

cincomeByZip15  = pd.DataFrame({
    "Zip Code": incomeByZip16["ZIPCODE"],
    "Dependents" : incomeByZip16["NUMDEP"],
    "Adjust Gross Income" : incomeByZip16["A00100"],
    "Salaries and Wage" : incomeByZip16["A00200"]
})

cdistrictGrad2016 = pd.DataFrame({
    "District Name" : grad2016["AGGREGATION_NAME"],
    "SUBGROUP_NAME": grad2016["SUBGROUP_NAME"],
    "ENROLL_CNT": grad2016["ENROLL_CNT"],
    "GRAD_CNT": grad2016["GRAD_CNT"],
    "GRAD_PCT": grad2016["GRAD_PCT"]
})

cdistrictGrad2015 = pd.DataFrame({
    "AGGREGATION_NAME" : grad2015["AGGREGATION_NAME"],
    "SUBGROUP_NAME": grad2015["SUBGROUP_NAME"],
    "ENROLL_CNT": grad2015["ENROLL_CNT"],
    "GRAD_CNT": grad2015["GRAD_CNT"],
    "GRAD_PCT": grad2015["GRAD_PCT"]
})

cschoolZip = pd.DataFrame({
    "District Name":schoolZip["District Name"],
    "Zip Code":schoolZip["Zip Code"],
    "Zip +4":schoolZip["Zip +4"]
})

Finally I join the data sets. To join the school zip code DF and graduation DF I used District Name. As for income, I used zip code as my join condition. I usually output CSVs in order to look at it in excel. It helps me visualize the data map.

In [24]:
data = cdistrictGrad2016.join(cschoolZip.set_index('District Name'), on='District Name')
data = data.join(cincomeByZip16.set_index('Zip Code'), on='Zip Code')
data.to_csv('testOutput/out.csv')

In [30]:
data.head()

,District Name,SUBGROUP_NAME,ENROLL_CNT,GRAD_CNT,GRAD_PCT,Zip Code,Zip +4,Dependents,Adjust Gross Income,Salaries and Wage
4493,ALBANY CITY SCHOOL DISTRICT,All Students,585,347,59%,12207,1099.0,350.0,34930.0,27780.0
4494,ALBANY CITY SCHOOL DISTRICT,Female,304,184,61%,12207,1099.0,350.0,34930.0,27780.0
4495,ALBANY CITY SCHOOL DISTRICT,Male,281,163,58%,12207,1099.0,350.0,34930.0,27780.0
4496,ALBANY CITY SCHOOL DISTRICT,American Indian or Alaska Native,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4497,ALBANY CITY SCHOOL DISTRICT,Black or African American,319,163,51%,12207,1099.0,350.0,34930.0,27780.0

In [31]:
data

,District Name,SUBGROUP_NAME,ENROLL_CNT,GRAD_CNT,GRAD_PCT,Zip Code,Zip +4,Dependents,Adjust Gross Income,Salaries and Wage
4493,ALBANY CITY SCHOOL DISTRICT,All Students,585,347,59%,12207,1099.0,350.0,34930.0,27780.0
4494,ALBANY CITY SCHOOL DISTRICT,Female,304,184,61%,12207,1099.0,350.0,34930.0,27780.0
4495,ALBANY CITY SCHOOL DISTRICT,Male,281,163,58%,12207,1099.0,350.0,34930.0,27780.0
4496,ALBANY CITY SCHOOL DISTRICT,American Indian or Alaska Native,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4497,ALBANY CITY SCHOOL DISTRICT,Black or African American,319,163,51%,12207,1099.0,350.0,34930.0,27780.0
4498,ALBANY CITY SCHOOL DISTRICT,Hispanic or Latino,78,48,62%,12207,1099.0,350.0,34930.0,27780.0
4499,ALBANY CITY SCHOOL DISTRICT,Asian or Pacific Islander,48,31,65%,12207,1099.0,350.0,34930.0,27780.0
4500,ALBANY CITY SCHOOL DISTRICT,White,131,99,76%,12207,1099.0,350.0,34930.0,27780.0
4501,ALBANY CITY SCHOOL DISTRICT,Multiracial,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4502,ALBANY CITY SCHOOL DISTRICT,General Education Students,473,310,66%,12207,1099.0,350.0,34930.0,27780.0
4503,ALBANY CITY SCHOOL DISTRICT,Students with Disabilities,112,37,33%,12207,1099.0,350.0,34930.0,27780.0
4504,ALBANY CITY SCHOOL DISTRICT,Non-English Language Learners,548,333,61%,12207,1099.0,350.0,34930.0,27780.0
4505,ALBANY CITY SCHOOL DISTRICT,English Language Learners,37,14,38%,12207,1099.0,350.0,34930.0,27780.0
4506,ALBANY CITY SCHOOL DISTRICT,Economically Disadvantaged,319,192,60%,12207,1099.0,350.0,34930.0,27780.0
4507,ALBANY CITY SCHOOL DISTRICT,Not Economically Disadvantaged,266,155,58%,12207,1099.0,350.0,34930.0,27780.0
4508,ALBANY CITY SCHOOL DISTRICT,Migrant,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4509,ALBANY CITY SCHOOL DISTRICT,Not Migrant,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4510,ALBANY CITY SCHOOL DISTRICT,All Students,632,413,65%,12207,1099.0,350.0,34930.0,27780.0
4511,ALBANY CITY SCHOOL DISTRICT,Female,317,222,70%,12207,1099.0,350.0,34930.0,27780.0
4512,ALBANY CITY SCHOOL DISTRICT,Male,315,191,61%,12207,1099.0,350.0,34930.0,27780.0
4513,ALBANY CITY SCHOOL DISTRICT,American Indian or Alaska Native,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4514,ALBANY CITY SCHOOL DISTRICT,Black or African American,346,215,62%,12207,1099.0,350.0,34930.0,27780.0
4515,ALBANY CITY SCHOOL DISTRICT,Hispanic or Latino,75,41,55%,12207,1099.0,350.0,34930.0,27780.0
4516,ALBANY CITY SCHOOL DISTRICT,Asian or Pacific Islander,51,31,61%,12207,1099.0,350.0,34930.0,27780.0
4517,ALBANY CITY SCHOOL DISTRICT,White,141,112,79%,12207,1099.0,350.0,34930.0,27780.0
4518,ALBANY CITY SCHOOL DISTRICT,Multiracial,-,-,-,12207,1099.0,350.0,34930.0,27780.0
4519,ALBANY CITY SCHOOL DISTRICT,General Education Students,528,373,71%,12207,1099.0,350.0,34930.0,27780.0
4520,ALBANY CITY SCHOOL DISTRICT,Students with Disabilities,104,40,38%,12207,1099.0,350.0,34930.0,27780.0
4521,ALBANY CITY SCHOOL DISTRICT,Non-English Language Learners,592,406,69%,12207,1099.0,350.0,34930.0,27780.0
4522,ALBANY CITY SCHOOL DISTRICT,English Language Learners,40,7,18%,12207,1099.0,350.0,34930.0,27780.0
...,...,...,...,...,...,...,...,...,...,...
41460,DUNDEE CENTRAL SCHOOL DISTRICT,All Students,72,55,76%,14837,1099.0,1370.0,98391.0,59476.0
41461,DUNDEE CENTRAL SCHOOL DISTRICT,Female,39,31,79%,14837,1099.0,1370.0,98391.0,59476.0
41462,DUNDEE CENTRAL SCHOOL DISTRICT,Male,33,24,73%,14837,1099.0,1370.0,98391.0,59476.0
41463,DUNDEE CENTRAL SCHOOL DISTRICT,American Indian or Alaska Native,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41464,DUNDEE CENTRAL SCHOOL DISTRICT,Black or African American,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41465,DUNDEE CENTRAL SCHOOL DISTRICT,Hispanic or Latino,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41466,DUNDEE CENTRAL SCHOOL DISTRICT,Asian or Pacific Islander,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41467,DUNDEE CENTRAL SCHOOL DISTRICT,White,66,49,74%,14837,1099.0,1370.0,98391.0,59476.0
41468,DUNDEE CENTRAL SCHOOL DISTRICT,Multiracial,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41469,DUNDEE CENTRAL SCHOOL DISTRICT,General Education Students,61,53,87%,14837,1099.0,1370.0,98391.0,59476.0
41470,DUNDEE CENTRAL SCHOOL DISTRICT,Students with Disabilities,11,2,18%,14837,1099.0,1370.0,98391.0,59476.0
41471,DUNDEE CENTRAL SCHOOL DISTRICT,Non-English Language Learners,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41472,DUNDEE CENTRAL SCHOOL DISTRICT,Economically Disadvantaged,32,23,72%,14837,1099.0,1370.0,98391.0,59476.0
41473,DUNDEE CENTRAL SCHOOL DISTRICT,Not Economically Disadvantaged,40,32,80%,14837,1099.0,1370.0,98391.0,59476.0
41474,DUNDEE CENTRAL SCHOOL DISTRICT,Not Migrant,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41475,DUNDEE CENTRAL SCHOOL DISTRICT,All Students,72,56,78%,14837,1099.0,1370.0,98391.0,59476.0
41476,DUNDEE CENTRAL SCHOOL DISTRICT,Female,39,31,79%,14837,1099.0,1370.0,98391.0,59476.0
41477,DUNDEE CENTRAL SCHOOL DISTRICT,Male,33,25,76%,14837,1099.0,1370.0,98391.0,59476.0
41478,DUNDEE CENTRAL SCHOOL DISTRICT,American Indian or Alaska Native,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41479,DUNDEE CENTRAL SCHOOL DISTRICT,Black or African American,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41480,DUNDEE CENTRAL SCHOOL DISTRICT,Hispanic or Latino,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41481,DUNDEE CENTRAL SCHOOL DISTRICT,Asian or Pacific Islander,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41482,DUNDEE CENTRAL SCHOOL DISTRICT,White,66,50,76%,14837,1099.0,1370.0,98391.0,59476.0
41483,DUNDEE CENTRAL SCHOOL DISTRICT,Multiracial,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41484,DUNDEE CENTRAL SCHOOL DISTRICT,General Education Students,61,53,87%,14837,1099.0,1370.0,98391.0,59476.0
41485,DUNDEE CENTRAL SCHOOL DISTRICT,Students with Disabilities,11,3,27%,14837,1099.0,1370.0,98391.0,59476.0
41486,DUNDEE CENTRAL SCHOOL DISTRICT,Non-English Language Learners,-,-,-,14837,1099.0,1370.0,98391.0,59476.0
41487,DUNDEE CENTRAL SCHOOL DISTRICT,Economically Disadvantaged,32,23,72%,14837,1099.0,1370.0,98391.0,59476.0
41488,DUNDEE CENTRAL SCHOOL DISTRICT,Not Economically Disadvantaged,40,33,83%,14837,1099.0,1370.0,98391.0,59476.0
41489,DUNDEE CENTRAL SCHOOL DISTRICT,Not Migrant,-,-,-,14837,1099.0,1370.0,98391.0,59476.0

I used this to check if there are any empty zip codes that did not map. Previously, I had the following result 


![alt text](Empty Cell.png "test")

After finding the empty cellss i went through the data manually and found the zip codes for all those districts (naming descrepency was the issue).

In [26]:
data['Zip Code'].dropna
data['Zip Code'].fillna(0,inplace=True)
(data.loc[data['Zip Code']== 0])['District Name'].unique().tolist()

[]

### REFERENCE

“NEW YORK STATE EDUCATION AT A GLANCE.” NYSED Data Site, Ney York State, data.nysed.gov/downloads.php. Accessed: Oct/27th/2018

“Individual Income Tax Statistics.” Internal Revenue Service, Federal GOvernment, www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi. Accessed: Oct/27th/2018

“U.S. Department of Education.” SRSA Eligibility Spreadsheets for Fiscal Year 2012/School Year 2012-2013, www2.ed.gov/programs/reapsrsa/eligible12/index.html. Accessed: Nov/1/2018